<div class="footer">
	<div class="footer_inner">
    	<div class="mod_footer_partners">
        	<span class="partner_title">友情链接</span>
            <div class="partner_links">
                <a href="http://{maccms:url}" target="_blank">{maccms:name}</a> |{maccms:link type=font} <a href="[link:link]" target="_blank">[link:name]</a> |{/maccms:link}
          	</div>
        </div>
        <div class="mod_footer">
			<div class="footermenu">
				<a href="http://www.videomao.com/" rel="nofollow" target="_blank">关于影院</a> |
                <a href="http://www.videomao.com" rel="nofollow" target="_blank">About Tencent</a> |
                <a href="http://www.videomao.com" rel="nofollow" target="_blank">服务条款</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">广告服务</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">视频猫影院</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">客服中心</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">网站导航</a>
			</div>
			<div class="copyrighten">Copyright © 1998 - <span>2014</span> 280Go.Com <a href="#" rel="nofollow">All Rights Reserved</a> 视频猫影院 <a  href="#" rel="nofollow">版权所有</a></div>
			<div class="copyrightzh">{maccms:visits}</div>
		</div>
    </div>
</div>