<div class="footer">
	<div class="footer_inner">
    	<div class="mod_footer_partners">
        	<span class="partner_title">合作伙伴</span>
            <div class="partner_links">
    			<a rel="" href="http://ddoubyy.cn" target="_blank" title="毒霸网址大全" >逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="搜狗网址导航">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn" target="_blank" title="逗逗比影院">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.8">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.9">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.10">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn" target="_blank" title="逗逗比影院">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.12">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.13">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.14">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.15">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.16">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.17">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.18">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.19">逗逗比影院</a>|
                <a rel="" href="http://ddoubyy.cn/" target="_blank" title="逗逗比影院" _hot="{pagetype}.footbar.partner1.20">逗逗比影院</a>
          	</div>
        </div>
        <div class="mod_footer">
			<div class="footermenu">
				<a href="http://ddoubyy.cn/" rel="nofollow" target="_blank">关于影院</a> | 
                <a href="http://ddoubyy.cn" rel="nofollow" target="_blank">About Tencent</a> | 
                <a href="http://ddoubyy.cn" rel="nofollow" target="_blank">服务条款</a> | 
                <a href="http://ddoubyy.cn/" rel="nofollow" target="_blank">广告服务</a> | 
                <a href="http://ddoubyy.cn/" rel="nofollow" target="_blank">逗逗比影院</a> | 
                <a href="http://ddoubyy.cn/" rel="nofollow" target="_blank">客服中心</a> | 
                <a href="http://ddoubyy.cn/" rel="nofollow" target="_blank">网站导航</a> | {maccms:visits}
			</div>
			<div class="copyrighten">Copyright © 1998 - <span>2014</span> 280Go.Com <a href="#" rel="nofollow">All Rights Reserved</a> 逗逗比影院 <a  href="#" rel="nofollow">版权所有</a></div>
			<div class="copyrightzh">{maccms:runtime}</div>
		</div>
    </div>
</div>