<div class="footer">
	<div class="footer_inner">
    	<div class="mod_footer_partners">
        	<span class="partner_title">合作伙伴</span>
            <div class="partner_links">
    			<a rel="" href="http://www.videomao.com" target="_blank" title="毒霸网址大全" >视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="搜狗网址导航">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com" target="_blank" title="视频猫影院">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.8">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.9">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.10">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com" target="_blank" title="视频猫影院">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.12">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.13">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.14">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.15">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.16">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.17">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.18">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.19">视频猫影院</a>|
                <a rel="" href="http://www.videomao.com/" target="_blank" title="视频猫影院" _hot="{pagetype}.footbar.partner1.20">视频猫影院</a>
          	</div>
        </div>
        <div class="mod_footer">
			<div class="footermenu">
				<a href="http://www.videomao.com/" rel="nofollow" target="_blank">关于影院</a> |
                <a href="http://www.videomao.com" rel="nofollow" target="_blank">About Tencent</a> |
                <a href="http://www.videomao.com" rel="nofollow" target="_blank">服务条款</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">广告服务</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">视频猫影院</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">客服中心</a> |
                <a href="http://www.videomao.com/" rel="nofollow" target="_blank">网站导航</a> | {maccms:visits}
			</div>
			<div class="copyrighten">Copyright © 1998 - <span>2014</span> 280Go.Com <a href="#" rel="nofollow">All Rights Reserved</a> 视频猫影院 <a  href="#" rel="nofollow">版权所有</a></div>
			<div class="copyrightzh">{maccms:runtime}</div>
		</div>
    </div>
</div>