<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE,chrome=1" />
<title>视频猫在线直播 - 斗鱼直播</title>
<meta name="keywords" content="视频猫在线直播 - 斗鱼直播" />
<meta name="description" content="视频猫在线直播 - 斗鱼直播" />
{maccms:include}
<base target="_self" />
</head>
<body>
{maccms:head}
 <div class="box" style="padding-top: 125px;">
 <!--网络电视代码开始-->
<iframe frameborder="0" scrolling="No" width="100%" height="860px" src="http://www.douyu.com/" style="margin-top: -50px"></iframe>
<!--网络电视代码结束-->     
</div>


{maccms:foot}
</body>
</html>