<div id="header">
  <div class="head">
    <div class="logo"><a href="http://{maccms:url}" title="{maccms:name}">{maccms:name}</a></div>
    <!--<p class="plus">{maccms:menu type=17 order=asc table=vod}<a href="[menu:link]"><i class="i-hot"></i>[menu:name]</a>{/maccms:menu}{maccms:menu type=16 order=asc table=vod}<a href="[menu:link]"><i class="i-zx"></i>[menu:name]</a>{/maccms:menu}<a href="{maccms:link_gbook}" id="feedback" class="last"><i class="i-qp"></i>求片</a></p>-->
    <div class="search">
      <form action="{maccms:link_search_vod}" method="post">
        <p>
          <input type="text" id="wd" name="wd" class="search-input" onblur="if(this.value==''){ this.value='更多精彩大片请输入名称搜索>>>';this.style.color='#cfcdcd';}" onfocus="if(this.value=='更多精彩大片请输入名称搜索>>>'){this.value='';this.style.color='';}" value="更多精彩大片请输入名称搜索>>>" />
        </p>
        <input type="submit" name="submit" class="sub" value="搜索" />
      </form>
    </div>
  </div>
  <div class="menu">
    <div class="w">
      <p> <a href="{maccms:path}" class="curr">首页</a> {maccms:menu type=1,2,3,4,16,17} <a href="[menu:link]" {if-A:[menu:id]={maccms:curvodtypeid}} class="this"{endif-A} title="[menu:name]">[menu:name]</a> {/maccms:menu} </p>
      <p class="s"> {maccms:menu order=asc by=sort table=vod type=child  num=11} <a href="[menu:link]" {if-A:[menu:id]={maccms:curvodtypeid}} class="this"{endif-A} title="[menu:name]">[menu:name]</a> {/maccms:menu} </p>
    </div>
  </div>
</div>
<!--/header-->
<div id="main">