<!--<script src='http://m.huashengtai.net/20597'></script> -->
</div>
<div id="footer">
	
  <p>免责声明:如果侵犯了你的权益，请发邮件至：{maccms:email}，我们会及时删除侵权内容，谢谢合作！</p>
  <p>Copyright &#169; 2016 {maccms:url} . {maccms:name}  All Rights Reserved. </p>
  <!--<p>「<a href="http://{maccms:url}"><b>{maccms:name}</b></a> - 一起爱下片」 欢迎与更多的朋友分享<a href="http://www.jupangyule.cc"><b>{maccms:name}</b></a>电影网站提供最新-<a href="#">迅雷电影下载</a>-<a href="#">免费电影</a>-<a href="#">高清电影</a></p>-->
  <div class="bd" style="text-align: center">
	<a href="http://{maccms:url}" target="_blank">{maccms:name}</a> {maccms:link type=font} <a href="[link:link]" target="_blank">[link:name]</a> {/maccms:link} 
  </div>
  <div style="text-align:center">
  <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261081695'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261081695%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  </div>
</div>
<div id="gotop"><a href="javascript:;" class="got"><i>返回顶部</i></a></div>
