<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2016好看的{page:name}-最新{page:name}-经典{page:name}-{page:name}电影推荐-第{page:now}页-{maccms:name}</title>
<meta name="keywords" content="{page:key}" />
<meta name="description" content="{page:des}" />
{maccms:include}
</head>
<body>
{maccms:head}
<div class="p-side">
  <div class="box nav">
    <div class="title"><b>快速导航</b></div>
    <ul id="nav">
      {maccms:menu type=1,2,3,4}
      <li {if-A:[menu:id]={maccms:curvodtypeid}} class="curr"{endif-A}><a href="[menu:link]">[menu:name]</a></li>
      {/maccms:menu}
    </ul>
	<img src='{maccms:path_tpl}images/x-1.jpg'/>
  </div>
</div>
<div class="view"> 
  <!-- 筛选开始 -->
  <div class="box movielista">
    <div class="title">
      <p class="s1">资源名称</p>
      <p>年代</p>
      <p>地区</p>
      <p class="s4">评分</p>
      <p class="s5">类型</p>
      <p class="s6">主演</p>
      <p class="s7">发布时间</p>
    </div>
    <ul>
      {maccms:vod num=20 order=desc by=weekhits type=all }
      <li>
        <p class="s1"><a href="[vod:link]" title="[vod:name]">《[vod:name]》</a></p>
        <p>[vod:year]</p>
        <p>[vod:area]</p>
        <p class="s4">[vod:score]</p>
        <p class="s5">[vod:typename]</p>
        <p class="s6">[vod:starring]</p>
        <p class="s7">[vod:time style=m/d h:s]</p>
      </li>
      {/maccms:vod}
    </ul>
    <div id="pages"> {maccms:pages len=6}</div>
  </div>
</div>
{maccms:foot}
</body>
</html>