<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{maccms:path_tpl}images/favicon.ico" media="screen" />
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<link href="{maccms:path_tpl}css/style.css" type="text/css" rel="stylesheet">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<script type="text/javascript" src="{maccms:path_tpl}js/jquery.min.js"></script>
<script type="text/javascript" src="{maccms:path_tpl}js/jquery.lazyload.js"></script>

