<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{maccms:name}</title>
<meta name="keywords" content="{maccms:keywords}" />
<meta name="description" content="{maccms:description}" />
{maccms:include}
<script type="text/javascript" src="{maccms:path_tpl}js/jquery.slide.js"></script>
<style>
<!--background: url("http://ww1.sinaimg.cn/large/005BjCpAgw1fb1epx2zl2j31hc0go7a7.jpg") no-repeat 50% 249px;-->
body{
    background-color: #660725!important;
    width: 100%;
    height: 100%;
	}
</style>
</head>
<body>
{maccms:head}
<!--<div class='notic' style="zoom:1;overflow:hidden;line-height:28px;height:28px;border:1px solid #EDCE7B;margin-bottom:14px;padding:5px;background-color:#FFFFEA;color:#000000;position: relative;">
  <p> <b><font color=red>公共</font></b>：最近网上出现很多{maccms:name}的，请认准我们唯一官方地址！{maccms:url} 请网友收藏！很好记，域名{maccms:name}拼音！感谢各位网友的支持！</p>
  <div class="bdsharebuttonbox" style="position: absolute;top:6px;right:10px;"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a></div>
  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["sqq","qzone","tsina","tqq","renren","weixin","mshare","copy"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["sqq","qzone","tsina","tqq","renren","weixin","mshare","copy"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
</div>-->
<div class="loop clearfix">
  <div class="col">
    <div class="box boutique">
      <div class="title"><b>精品推荐资源</b>
        <dl>
		  <dd  class="on">电视剧</dd>
          <dd>电影</dd>
          
           <!--<dd>综艺</dd>-->
           <!--<dd>动漫</dd>-->
          <!--<dd>影视预告</dd>-->
        </dl>
      </div>
      <div class="bd">
	   <ul class="plist">
          {maccms:vod order=asc by=hits num=10  type=2}
          <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
            <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
            <span class="txt">[vod:typename][vod:area]-电视剧</span></li>
          {/maccms:vod}
        </ul>
        <ul class="plist" id="dytab">
          <div class="dyhd">
            <div class="dylist"> {maccms:vod order=asc by=hits num=10 type=1}
              <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
                <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
                <span class="txt">[vod:typename][vod:area]-电影</span></li>
              {/maccms:vod} </div>
            <div class="dylist"> {maccms:vod order=asc by=hits num=10 start=11 type=1}
              <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
                <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
                <span class="txt">[vod:typename][vod:area]-电影</span></li>
              {/maccms:vod} </div>
          </div>
        </ul>
       
        <!--<ul class="plist">
          {maccms:vod order=asc by=time num=10  type=3}
          <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
            <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
            <span class="txt">[vod:typename][vod:area]-综艺</span></li>
          {/maccms:vod}
        </ul>
        <!--<ul class="plist">
          {maccms:vod order=asc by=time num=10  type=4}
          <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
            <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
            <span class="txt">[vod:typename][vod:area]-动漫</span></li>
          {/maccms:vod}
        </ul>-->
        <!--<ul class="plist">
          {maccms:vod order=asc by=time num=10  type=all}
          <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
            <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
            <span class="txt">[vod:typename][vod:area]-预告</span></li>
          {/maccms:vod}
        </ul>-->
      </div>
    </div>
  </div>
  <!--/box--> 
  <script>jQuery(".boutique").slide({titCell: ".title dl dd",mainCell: ".bd",effect: "fold",delayTime: 200});
                      //Query("#dytab").slide({mainCell: ".dyhd",effect: "leftLoop",autoPlay:true,delayTime: 200,interTime:6000});
                    </script>
  <div class="side">
    <div class="box">
      <div class="title"><b>最新资源</b><span class="movie-count">今日更新<i>{maccms:count_vod_day}</i>部</span></div>
      <ul class="list">
        {maccms:vod num=13 type=all order=desc by=time}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" target="_blank" title="[vod:name]">《[vod:name]》</a></li>
        {/maccms:vod}
      </ul>
    </div>
    <!--/box--> 
  </div>
</div>
 <!--
<div class="loop clearfix">
  <div class="col">
    <div class="box">
      <div class="title"><b>最新电影推荐</b><span>{maccms:menu parent=1}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></div>
      <ul class="list boxlist">
        {maccms:vod num=16 type=1 order=desc by=time}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:area][vod:typename]《[vod:name]》[vod:remarks]</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
  <div class="side">
    <div class="box">
      <div class="title"><b>热门电影下载</b><span>{maccms:menu parent=1}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></span></div>
      <ul class="list">
        {maccms:vod num=8 type=1 order=desc by=hits}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">《[vod:name]》</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
</div>

<div class="loop clearfix">
  <div class="col">
    <div class="box">
      <div class="title"><b>最新电视推荐</b><span>{maccms:menu parent=2}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></div>
      <ul class="list boxlist">
        {maccms:vod num=16 type=2 order=desc by=time}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:typename]《[vod:name]》[vod:remarks]</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
  <div class="side">
    <div class="box">
      <div class="title"><b>热门电视下载</b><span>{maccms:menu parent=2}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></span></div>
      <ul class="list">
        {maccms:vod num=8 type=2 order=desc by=hits}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">《[vod:name]》</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
</div>
<div class="loop clearfix">
  <div class="col">
    <div class="box">
      <div class="title"><b>最新综艺片推荐</b><span>{maccms:menu parent=3}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></div>
      <ul class="list boxlist">
        {maccms:vod num=16 type=3 order=desc by=time}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:typename]《[vod:name]》[vod:remarks]</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
  <div class="side">
    <div class="box">
      <div class="title"><b>热门综艺片下载</b><span>{maccms:menu parent=3}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></span></div>
      <ul class="list">
        {maccms:vod num=8 type=3 order=desc by=hits}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">《[vod:name]》</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
</div>
 <!--
<div class="loop clearfix">
  <div class="col">
    <div class="box">
      <div class="title"><b>最新动画片推荐</b><span>{maccms:menu parent=4}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></div>
      <ul class="list boxlist">
        {maccms:vod num=16 type=4 order=desc by=time}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:typename]《[vod:name]》[vod:remarks]</a></li>
        {/maccms:vod}
      </ul>
    </div>
  </div>
  <div class="side">
    <div class="box">
      <div class="title"><b>热门动画片下载</b><span>{maccms:menu parent=4}<a href="[menu:link]" target="_blank">{/maccms:menu}更多>></a></span></span></div>
      <ul class="list">
        {maccms:vod num=8 type=4 order=desc by=hits}
        <li><span>[vod:time style=m-d]</span><a href="[vod:link]" title="[vod:name]" target="_blank">《[vod:name]》</a></li>
        {/maccms:vod}
      </ul>
    </div>
   /box
  </div>
</div>--> 
<div class="box comic">
  <div class="title"><b>每周热门</b>
    <div class="hd"><a class="next"></a>
      <ul>
      </ul>
      <a class="prev"></a></div>
  </div>
  <div class="bd">
    <ul class="plist">
      {maccms:vod order=asc by=weekhits num=10  type=1}
      <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
        <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
        <span class="txt">[vod:typename][vod:area]-电影</span></li>
      {/maccms:vod}        
      {maccms:vod order=asc by=weekhits num=10  type=2}
      <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
        <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
        <span class="txt">[vod:typename][vod:area]-电视剧</span></li>
      {/maccms:vod}        
      {maccms:vod order=asc by=weekhits num=10  type=3}
      <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
        <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
        <span class="txt">[vod:typename][vod:area]-综艺片</span></li>
      {/maccms:vod}        
      {maccms:vod order=asc by=weekhits num=10  type=4}
      <li><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]"><span class="zt"><em>[vod:typename]</em><i>[vod:score]</i></span></a>
        <p><a href="[vod:link]" title="[vod:name]" target="_blank">[vod:remarks]《[vod:name]》</a></p>
        <span class="txt">[vod:typename][vod:area]-动漫</span></li>
      {/maccms:vod}
    </ul>
  </div>
</div>
<script>jQuery(".comic").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"leftLoop",autoPlay:true,scroll:8,vis:8,interTime:6000});</script> 
<!--/comic-->
<!--<div class="box links">
  <div class="title"><b>友情链接</b><span></span></div>
  <div class="bd" style="text-align: center">
	<a href="http://{maccms:url}" target="_blank">{maccms:name}</a> {maccms:link type=font} <a href="[link:link]" target="_blank">[link:name]</a> {/maccms:link} 
  </div>
</div>-->
<!--/links--> 
{maccms:foot}
</body>
</html>