<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《[vod:name]》_[vod:playname]_高清在线观看_[vod:typename]_{maccms:name}</title>
<meta name="Keywords" content="[vod:name][vod:playname]免费手机在线观看,[vod:name]剧情介绍,[vod:name]数据海报" />
<meta name="description" content="[vod:content len=100]" />
<script type="text/javascript" src="{maccms:path_tpl}js/common.js"></script>
{maccms:include}
</head><body>
{maccms:head}
<div class="wrap">
<div class="player mb"><div class="main">[vod:playerinfo][vod:player]</div></div>
<div id="stab1" class="tab-down mb clearfix">

	<div class="playfrom tab8 clearfix">

    <ul>

     {maccms:play}   

    <li id="tab8[play:num]" onClick="setTab('tab8','stab8',[play:num],[play:count])" {if-A:"[play:num]"= "1"} class="on" {endif-A}><i class="playerico ico-Azhan"></i> [play:show]</li>

     {/maccms:play}   

    </ul>

  </div>



{maccms:play}

  <div id="stab8[play:num]" class="playlist clearfix" {if-A:"[play:num]"> "1"} style="display:none" {endif-A} >

 	  	<div class="h1 clearfix">

  		<p class="intro"><font color="#f06000">[play:show]</font>[play:tip]</p>

  		<p class="jj"><span id="vlink_[play:num]_s1"><em onClick="Order(1,'vlink_[play:num]',[play:num])">倒序↓</em></span><span id="vlink_[play:num]_s2"><em onClick="Order(0,'vlink_[play:num]',[play:num])" class="over">顺序↑</em></span></p>

  	</div>

	  <div id="vlink_[play:num]" class="videourl clearfix"><ul>

	  {maccms:url order=asc}

	  <li><a title='[url:name]' href='[url:link]' target="_self">[url:name]</a></li>

	  {/maccms:url}

	  </ul></div>

  </div>

    {/maccms:play} 

  </div>
<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>
<!-- UY END -->

<div class="downlist">
         <h4>猜你喜欢<span class="downlisttps"></span></h4>

<ul>
    {maccms:vod num=7 order=desc by=hits type={maccms:curvodtypeid} } 
              <li style="padding:15px 11px 5px 12px;"><a href="[vod:link]" title="[vod:name]" target="_blank" class="im"><img src="[vod:pic]" alt="[vod:name]" data-bd-imgshare-binded="1"><span class="zt"><em>[vod:remarks]</em><i>8.0</i></span></a>
                <p><a href="[vod:link]" title="[vod:name]]" target="_blank">《[vod:name]》</a></p>
                <span class="txt">[vod:typename]-[vod:area]</span></li>
    {/maccms:vod}
    </ul>
	


    </div>

</div>
<!--/Wrap--> 
{maccms:foot} 
<!--/Footer-->
</body>
</html>